$green: #4caf50;
$white: #fff;
$fonts: Roboto, sans-serif;

body
{
    font-family: $fonts;
    margin: 0;
    padding: 0;
}



.bg_black
{
    background: black;
}

.bg_green
{
    background: $green;
}

.menu
{
    list-style-type: none;
    color: $white;
    padding: 48px 0 0 0;
    margin: 0;
    display: inline-flex;
    float: right;
}

.menu li
{
    padding-left: 96px;
}

.menu li a
{
    color: $white;
    text-transform: uppercase;
}

.tagline
{
    color: $white;
    margin-top: 48px;
}

.logo
{
    width: 100%;
}

.horiz_border
{
    margin-top: 38px;
    box-sizing: border-box;
    border-top: 9px $green solid;
}

.team_name
{
    text-transform: uppercase;
    font-size: 64px;
    font-weight: bold;
}

.tagline_text
{
    font-size: 48px;
    font-weight: 200;
}

.header
{
    margin-top: 96px;
    color: black;
    font-size: 48px;
    font-weight: bold;
}

.highlight
{
    text-transform: uppercase;
    color: $green;
    text-decoration: underline;
}

.advantage
{
    float: left;
    margin-top: 64px;
}

.advantage_img
{
    height: 220px;
}

.number
{
    color: $green;
    font-weight: bold;
    font-size: 108px;
    line-height: 0.8;
}

.description
{
    border-left: 8px $green solid;
    font-weight: 400;
    font-size: 18px;
}

.cathegory
{
    transform: rotate(90deg);
    font-weight: bold;
    font-size: 18px;
}

.text_green
{
    color: $green;
}

.form
{
   width: 100%;

}

.clientsty {
    margin-top: 110px;
    margin-bottom: 110px;
}

.clients {
    text-align: center;
}

.clientsimg {
    padding-right: 30px;
    @media (max-width: 905px) {
        padding-top: 10px;
    }
}

.clients-sl {
    .slick-prev {
        left: 0px;
        cursor: pointer;
    }
    .slick-prev:before {
        display: none;
        content: url(images/prevbut.png);
        background-color: #8e8e8e;
        float: left;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-right: 15px;
        padding-left: 15px;
        &.active {
            background-color: #c0301c;
        }
        &:hover {
            background-color: #c0301c;
        }
    }
    .slick-prev:before {
        font-size: 20px;
        line-height: 1;
        opacity: .75;
        color: white;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .slick-dots li button:before {
        font-family: 'slick';
        font-size: 6px;
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        text-align: center;
        color: black;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.clients-sl {
    .slick-next {
        right: 29px;
        cursor: pointer;
    }
    .slick-dots{
        position: relative;
        bottom: -10px;
    }
    .slick-next:before {
        display: none;
        content: url(images/nextbut.png);
        background-color: #8e8e8e;
        float: left;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-right: 15px;
        padding-left: 15px;
        &.active {
            background-color: #c0301c;
        }
        &:hover {
            background-color: #c0301c;
            z-index: 111;
        }
    }
    .slick-next:before {
        font-size: 20px;
        line-height: 1;
        opacity: .75;
        color: white;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.clients-zag {
    padding-top: 3%;
    h2 {
        font-family: 'Robotoslab-Regular';
        font-size: 14pt;
        text-align: center;
        padding-bottom: 13px;
    }
    p {
        font-family: 'Robotoslab-Regular';
        font-size: 10pt;
        text-align: center;
        padding-bottom: 10px;
        font-style: italic;
    }
}


.contacts
{
    padding-top: 100px;
}

.copyright
{
    color: $white;
    font-size: 16px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.white_header
{
    font-size: 32px;
    font-weight: bold;
    color: $white;
}

.white_subheader
{
    font-size: 24px;
    font-weight: bold;
    color: $white;
}

.footer_info
{
    color: $white;
    margin-top: 16px;
}

.info
{
    margin-top: 100px;
}


