$green: #4caf50;
$white: #fff;
$fonts: Roboto, sans-serif;

body
{
    font-family: $fonts;
    margin: 0;
    padding: 0;
}


.bg_black
{
    background: black;
}

.bg_green
{
    background: $green;
}

.menu
{
    list-style-type: none;
    color: $white;
    padding: 48px 0 0 0;
    margin: 0;
    display: inline-flex;
    float: right;
}

.menu li
{
    padding-left: 96px;
}

.menu li a
{
    color: $white;
    text-transform: uppercase;
}

.tagline
{
    color: $white;
    margin-top: 48px;
}

.logo
{
    width: 100%;
}

.horiz_border
{
    margin-top: 38px;
    box-sizing: border-box;
    border-top: 9px $green solid;
}

.team_name
{
    text-transform: uppercase;
    font-size: 64px;
    font-weight: bold;
}

.tagline_text
{
    font-size: 48px;
    font-weight: 300;
}

.header
{
    margin-top: 96px;
    color: black;
    font-size: 48px;
    font-weight: bold;
}

.highlight
{
    text-transform: uppercase;
    color: $green;
    text-decoration: underline;
}

.advantage
{
    float: left;
    margin-top: 64px;
}

.advantage_img
{
    height: 220px;
}

.number
{
    color: $green;
    font-weight: bold;
    font-size: 108px;
}

.description
{
    border-left: 8px $green solid;
    font-weight: 400;
    font-size: 18px;
}

.cathegory
{
    transform: rotate(90deg);
    font-weight: bold;
    font-size: 18px;
}

.text_green
{
    color: $green;
}

.form
{
    margin-top: 180px;
    padding: 48px;
}