@charset "UTF-8";
body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0; }

.bg_black {
  background: black; }

.bg_green {
  background: #4caf50; }

.menu {
  list-style-type: none;
  color: #fff;
  padding: 48px 0 0 0;
  margin: 0;
  display: inline-flex;
  float: right; }

.menu li {
  padding-left: 96px; }

.menu li a {
  color: #fff;
  text-transform: uppercase; }

.tagline {
  color: #fff;
  margin-top: 48px; }

.logo {
  width: 100%; }

.horiz_border {
  margin-top: 38px;
  box-sizing: border-box;
  border-top: 9px #4caf50 solid; }

.team_name {
  text-transform: uppercase;
  font-size: 64px;
  font-weight: bold; }

.tagline_text {
  font-size: 48px;
  font-weight: 200; }

.header {
  margin-top: 96px;
  color: black;
  font-size: 48px;
  font-weight: bold; }

.highlight {
  text-transform: uppercase;
  color: #4caf50;
  text-decoration: underline; }

.advantage {
  float: left;
  margin-top: 64px; }

.advantage_img {
  height: 220px; }

.number {
  color: #4caf50;
  font-weight: bold;
  font-size: 108px;
  line-height: 0.8; }

.description {
  border-left: 8px #4caf50 solid;
  font-weight: 400;
  font-size: 18px; }

.cathegory {
  transform: rotate(90deg);
  font-weight: bold;
  font-size: 18px; }

.text_green {
  color: #4caf50; }

.form {
  width: 100%;
  margin-top: 110px; }

.clientsty {
  margin-top: 110px;
  margin-bottom: 110px; }

.clients {
  text-align: center; }

.clientsimg {
  padding-right: 30px; }
  @media (max-width: 905px) {
    .clientsimg {
      padding-top: 10px; } }

.clients-sl .slick-prev {
  left: 0px;
  cursor: pointer; }
.clients-sl .slick-prev:before {
  display: none;
  content: url(images/prevbut.png);
  background-color: #8e8e8e;
  float: left;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 15px; }
  .clients-sl .slick-prev:before.active {
    background-color: #c0301c; }
  .clients-sl .slick-prev:before:hover {
    background-color: #c0301c; }
.clients-sl .slick-prev:before {
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
.clients-sl .slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.clients-sl .slick-next {
  right: 29px;
  cursor: pointer; }
.clients-sl .slick-dots {
  position: relative;
  bottom: -10px; }
.clients-sl .slick-next:before {
  display: none;
  content: url(images/nextbut.png);
  background-color: #8e8e8e;
  float: left;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 15px; }
  .clients-sl .slick-next:before.active {
    background-color: #c0301c; }
  .clients-sl .slick-next:before:hover {
    background-color: #c0301c;
    z-index: 111; }
.clients-sl .slick-next:before {
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.clients-zag {
  padding-top: 3%; }
  .clients-zag h2 {
    font-family: 'Robotoslab-Regular';
    font-size: 14pt;
    text-align: center;
    padding-bottom: 13px; }
  .clients-zag p {
    font-family: 'Robotoslab-Regular';
    font-size: 10pt;
    text-align: center;
    padding-bottom: 10px;
    font-style: italic; }

.contacts {
  padding-top: 100px; }

.copyright {
  color: #fff;
  font-size: 16px;
  margin-top: 100px;
  margin-bottom: 100px; }

.white_header {
  font-size: 32px;
  font-weight: bold;
  color: #fff; }

.white_subheader {
  font-size: 24px;
  font-weight: bold;
  color: #fff; }

.footer_info {
  color: #fff;
  margin-top: 16px; }

.info {
  margin-top: 100px; }

/* C╨╜╨░╤З╨░╨╗╨░ ╨╛╨▒╨╛╨╖╨╜╨░╤З╨░╨╡╨╝ ╤Б╤В╨╕╨╗╨╕ ╨┤╨╗╤П IE8 ╨╕ ╨▒╨╛╨╗╨╡╨╡ ╤Б╤В╨░╤А╤Л╤Е ╨▓╨╡╤А╤Б╨╕╨╣
╤В.╨╡. ╨╖╨┤╨╡╤Б╤М ╨╝╤Л ╨╜╨╡╨╝╨╜╨╛╨│╨╛ ╨╛╨▒╨╗╨░╨│╨╛╤А╨░╨╢╨╕╨▓╨░╨╡╨╝ ╤Б╤В╨░╨╜╨┤╨░╤А╤В╨╜╤Л╨╣ ╤З╨╡╨║╨▒╨╛╨║╤Б. */
.checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px; }

/* ╨н╤В╨╛ ╨┤╨╗╤П ╨▓╤Б╨╡╤Е ╨▒╤А╨░╤Г╨╖╨╡╤А╨╛╨▓, ╨║╤А╨╛╨╝╨╡ ╤Б╨╛╨▓╤Б╨╡╨╝ ╤Б╤В╨░╤А╤Л╤Е, ╨║╨╛╤В╨╛╤А╤Л╨╡ ╨╜╨╡ ╨┐╨╛╨┤╨┤╨╡╤А╨╢╨╕╨▓╨░╤О╤В
╤Б╨╡╨╗╨╡╨║╤В╨╛╤А╤Л ╤Б ╨┐╨╗╤О╤Б╨╛╨╝. ╨Я╨╛╨║╨░╨╖╤Л╨▓╨░╨╡╨╝, ╤З╤В╨╛ label ╨║╨╗╨╕╨║╨░╨▒╨╡╨╗╨╡╨╜.┬а*/
.checkbox + label {
  cursor: pointer; }

/* ╨Ф╨░╨╗╨╡╨╡ ╨╕╨┤╨╡╤В ╨╛╤Д╨╛╤А╨╝╨╗╨╡╨╜╨╕╨╡ ╤З╨╡╨║╨▒╨╛╨║╤Б╨░ ╨▓ ╤Б╨╛╨▓╤А╨╡╨╝╨╡╨╜╨╜╤Л╤Е ╨▒╤А╨░╤Г╨╖╨╡╤А╨░╤Е, ╨░ ╤В╨░╨║╨╢╨╡ IE9 ╨╕ ╨▓╤Л╤И╨╡.
╨С╨╗╨░╨│╨╛╨┤╨░╤А╤П ╤В╨╛╨╝╤Г, ╤З╤В╨╛ ╤Б╤В╨░╤А╤Л╨╡ ╨▒╤А╨░╤Г╨╖╨╡╤А╤Л ╨╜╨╡ ╨┐╨╛╨┤╨┤╨╡╤А╨╢╨╕╨▓╨░╤О╤В ╤Б╨╡╨╗╨╡╨║╤В╨╛╤А╤Л :not ╨╕ :checked,
╨▓ ╨╜╨╕╤Е ╨▓╤Б╨╡ ╨╜╨╕╨╢╨╡╤Б╨╗╨╡╨┤╤Г╤О╤Й╨╕╨╡ ╤Б╤В╨╕╨╗╨╕ ╨╜╨╡ ╤Б╤А╨░╨▒╨╛╤В╨░╤О╤В. */
/* ╨Я╤А╤П╤З╨╡╨╝ ╨╛╤А╨╕╨│╨╕╨╜╨░╨╗╤М╨╜╤Л╨╣ ╤З╨╡╨║╨▒╨╛╨║╤Б. */
.checkbox:not(checked) {
  position: absolute;
  opacity: 0; }

.checkbox:not(checked) + label {
  position: relative;
  /* ╨▒╤Г╨┤╨╡╨╝ ╨┐╨╛╨╖╨╕╤Ж╨╕╨╛╨╜╨╕╤А╨╛╨▓╨░╤В╤М ╨┐╤Б╨╡╨▓╨┤╨╛╤З╨╡╨║╨▒╨╛╨║╤Б ╨╛╤В╨╜╨╛╤Б╨╕╤В╨╡╨╗╤М╨╜╨╛ label┬а*/
  padding: 0 0 0 60px;
  /* ╨╛╤Б╤В╨░╨▓╨╗╤П╨╡╨╝ ╤Б╨╗╨╡╨▓╨░ ╨╛╤В label┬а╨╝╨╡╤Б╤В╨╛ ╨┐╨╛╨┤ ╨┐╤Б╨╡╨▓╨┤╨╛╤З╨╡╨║╨▒╨╛╨║╤Б┬а*/ }

/* ╨Ю╤Д╨╛╤А╨╝╨╗╨╡╨╜╨╕╨╡ ╨┐╨╡╤А╨▓╨╛╨╣ ╤З╨░╤Б╤В╨╕ ╤З╨╡╨║╨▒╨╛╨║╤Б╨░ ╨▓ ╨▓╤Л╨║╨╗╤О╤З╨╡╨╜╨╜╨╛╨╝ ╤Б╨╛╤Б╤В╨╛╤П╨╜╨╕╨╕ (╤Д╨╛╨╜). */
.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: #CDD1DA;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2); }

/* ╨Ю╤Д╨╛╤А╨╝╨╗╨╡╨╜╨╕╨╡ ╨▓╤В╨╛╤А╨╛╨╣ ╤З╨░╤Б╤В╨╕ ╤З╨╡╨║╨▒╨╛╨║╤Б╨░ ╨▓ ╨▓╤Л╨║╨╗╤О╤З╨╡╨╜╨╜╨╛╨╝ ╤Б╨╛╤Б╤В╨╛╤П╨╜╨╕╨╕ (╨┐╨╡╤А╨╡╨║╨╗╤О╤З╨░╤В╨╡╨╗╤М). */
.checkbox:not(checked) + label:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all .2s;
  /* ╨░╨╜╨╕╨╝╨░╤Ж╨╕╤П, ╤З╤В╨╛╨▒╤Л ╤З╨╡╨║╨▒╨╛╨║╤Б ╨┐╨╡╤А╨╡╨║╨╗╤О╤З╨░╨╗╤Б╤П ╨┐╨╗╨░╨▓╨╜╨╛┬а*/ }

/* ╨Ь╨╡╨╜╤П╨╡╨╝ ╤Д╨╛╨╜ ╤З╨╡╨║╨▒╨╛╨║╤Б╨░, ╨║╨╛╨│╨┤╨░ ╨╛╨╜ ╨▓╨║╨╗╤О╤З╨╡╨╜. */
.checkbox:checked + label:before {
  background: #4caf50; }

/* ╨б╨┤╨▓╨╕╨│╨░╨╡╨╝ ╨┐╨╡╤А╨╡╨║╨╗╤О╤З╨░╤В╨╡╨╗╤М ╤З╨╡╨║╨▒╨╛╨║╤Б╨░, ╨║╨╛╨│╨┤╨░ ╨╛╨╜ ╨▓╨║╨╗╤О╤З╨╡╨╜. */
.checkbox:checked + label:after {
  left: 26px; }

/* ╨Я╨╛╨║╨░╨╖╤Л╨▓╨░╨╡╨╝ ╨┐╨╛╨╗╤Г╤З╨╡╨╜╨╕╨╡ ╤Д╨╛╨║╤Г╤Б╨░.┬а*/
.radio {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0; }

.radio + label {
  cursor: pointer; }

.radio:not(checked) {
  position: absolute;
  opacity: 0; }

.radio:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px; }

.radio:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #CDD1DA;
  border-radius: 50%;
  background: #FFF; }

.radio:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #9FD468;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all .2s; }

.radio:checked + label:after {
  opacity: 1; }

.radio:focus + label:before {
  box-shadow: 0 0 0 3px rgba(255, 255, 0, 0.5); }

.h2_form {
  text-align: center;
  padding-top: 30px; }
  .h2_form h2 {
    font-family: Roboto, sans-serif;
    color: #fff;
    font-size: 18pt;
    font-weight: bold; }

.var_uslugi h3 {
  font-family: Roboto, sans-serif;
  color: white;
  font-size: 15pt;
  font-weight: 400;
  display: inline-block;
  margin-top: 0; }
.var_uslugi img {
  display: inline-block;
  padding: 0px;
  width: 5%; }
.var_uslugi p {
  font-family: Roboto, sans-serif;
  font-size: 12pt;
  width: 60%;
  color: #fff;
  font-weight: 200; }
.var_uslugi checkbox {
  display: inline-block; }

/*# sourceMappingURL=style.css.map */
